{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<title>INGRESO</title>
<link rel="stylesheet" href="{% static 'core/css/formulario.css' %}">
{% endblock %}

<!-- BLOC NAV -->
{% block nav%}
<a class="nav-item nav-link" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'nosotros' %}">NOSOTROS</a>
<a class="nav-item nav-link" href="{% url 'servicio' %}">SERVICIOS</a>
<a class="nav-item nav-link" href="{% url 'ubicacion' %}">UBICACIÓN</a>
{% endblock %}
{% block js %}
<script>
    function eliminarEmpServ(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Si, Eliminar",
            "confirmButtonColor": "#dc3534"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-emp-serv/" + id + "/"
                }
            })
    }
</script>

{% endblock %}

<!-- BLOC CONTENIDO -->
{% block contenido %}
{% load humanize %}
<br><br><br>
<div class="col-12 col-md-8 offset-md-2">
    <div class="card">
        <div class="card-body">
            <h2>Listado de Trabajos Finalizados</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <a href="{% url 'agregar_emp_serv' %}" class="btn btn-primary">Agregar</a>
                <br><br>
                <tr>
                    <th>ID</th>
                    <th>Numero De Reserva</th>
                    <th>Servicio Realizado</th>
                    <th>Producto Utilizado</th>
                    <th>Cantidad Final Utilizada</th>
                    <th>Empleado Responsable</th>
                    <th>Opciones</th>
                </tr>

                {% for x in emp_servicios %}

                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.res_id_reserva}}</td>
                    <td>{{x.serv_titulo }}</td>
                    <td>{{x.prod_nombre}}</td>
                    <td>{{x.cant_utilizada_prod}}</td>
                    <td>{{x.emp_rut}}</td>
                    <td>
                        <a href="{% url 'modificar_emp_serv' es.id %}" class="btn btn-info btn-sm">Modificar</a>
                        <a href="#" onclick="eliminarEmpServ ({{x.id}})" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
<br><br><br>
{% endblock %}