{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<title>LOGIN</title>
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}

<!-- BLOC NAV -->
{% block nav%}
<a class="nav-item nav-link" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'nosotros' %}">NOSOTROS</a>
<a class="nav-item nav-link" href="{% url 'servicio' %}">SERVICIOS</a>
<a class="nav-item nav-link" href="{% url 'ubicacion' %}">UBICACIÓN</a>
{% endblock %}

<!-- BLOC CONTENIDO -->
{% block contenido %}
<div class="container login-container" id="formu">
    <form action="" method="POST" id="post">
        <div id="titul">
            <b id="titu"> LOGIN </b>
        </div>
        {% csrf_token %}
        <table id="tabl">
            {{ form }}
        </table>
        <input type="submit" value="INGRESAR" class="btn btn-sm" id="btns">
        <div class="card-footer">
            <div class="justify-content-center link">
                No tienes cuenta?<a href="{% url 'registro' %}" style="text-decoration: none;"> REGISTRATE</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}