{% load static %}
<!DOCTYPE html>
<html>
<title>Administración Interna</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="-webkit-column-break-after:300px">

        <!-- Header -->
        <header id="portfolio">
            <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
                    class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                    class="fa fa-bars"></i></span>
            <div class="w3-container">
                <h1><b>Administración Serviexpress <img src="{% static 'core/img/iconos/admin.png' %}" width="50"
                            height="50" alt=""></b></h1>
                <div class="w3-section w3-bottombar w3-padding-16">
                    <span class="w3-margin-right">Navegación:</span>
                    <a href="{% url 'index' %}" class="w3-button w3-grey">Index</a>
                    <a href="{% url 'nosotros' %}" class="w3-button w3-grey">Nosotros</a>
                    <a href="{% url 'servicio' %}" class="w3-button w3-grey">Servicios</a>
                    <a href="{% url 'ubicacion' %}" class="w3-button w3-grey">Ubicación</a>
                    <a href="{% url 'admin_reportes' %}" class="w3-button w3-grey">Reportes Y Actividad</a>
                    <a href="{% url 'administracion' %}" class="w3-button w3-grey">Volvar a Administracion Principal</a>

                </div>
            </div>
        </header>

        <div class="w3-row-padding">
            <div class="w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Leyenda de formatos de descarga:</b></p>
                    <p>CSV: Entrega todos los datos en una sola fila (EXCEL), separado por comas sin ningun
                        ordenamiento. No se recomienda utilizar para revisión de datos, informes y/o resumenes.</p>
                    <p>XLS y XLSX: Entrega los datos ordenados segun su tabla e Identificador unico (EXCEL). Se
                        recomienda para obtener datos y dar una revision general de la tabla.</p>
                    <p>TSV: Entrega los datos en un bloc de notas ordenados segun Identificador Unico</p>
                    <p>ODS: No entrega ningun resultado visible por Excel, por lo cual no se debe utilizar.</p>
                    <p>JSON: Entrega los datos ordenados para se utilizados bajo JavaScript, este informe esta orientado
                        hacia los desarrolladores de la pagina, por lo cual no se recomienda utilizar para revisión de
                        datos.</p>
                    <p>YAML: Entrega los datos bajo el siguiente formato: "Nombre de tabla" : "Identificador Unico". Ej:
                        {Empleado : 1}</p>
                    <p>HTML: Entrega los datos bajo formato JSON, y los muestra en una nueva pagina del navegador.</p>
                </div>
            </div>
        </div>

        <!-- First Photo Grid-->
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">

                <div class="w3-container w3-white">
                    <p><b>Descarga de RESERVAS en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Reservas</p>
                    <a href="http://127.0.0.1:8000/admin/core/reserva/export/?" class="w3-button w3-black">Ingresar a
                        Reservas</a>
                    <br><br>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Descarga de EMPLEADOS en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Empleados</p>
                    <a href="http://127.0.0.1:8000/admin/core/empleado/export/?" class="w3-button w3-black">Ingresar a
                        Empleados</a>
                    <br><br>
                </div>
            </div>


            <div class="w3-third w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Descarga de SERVICIOS en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Servicios</p>
                    <a href="http://127.0.0.1:8000/admin/core/servicio/export/?" class="w3-button w3-black">Ingresar
                        a
                        Servicios</a>
                    <br><br>
                </div>
            </div>
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">

                <div class="w3-container w3-white">
                    <p><b>Descarga de BOLETAS/FACTURAS en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Boletas y Facturas</p>
                    <a href="http://127.0.0.1:8000/admin/core/boletafactura/export/?"
                        class="w3-button w3-black">Ingresar a
                        Boletas y Facturas</a>
                    <br><br>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Descarga de PRODUCTOS en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Productos</p>
                    <a href="http://127.0.0.1:8000/admin/core/producto/export/?" class="w3-button w3-black">Ingresar a
                        Productos</a>
                    <br><br>
                </div>
            </div>


            <div class="w3-third w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Descarga de PROVEEDOR en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Productos</p>
                    <a href="http://127.0.0.1:8000/admin/core/proveedor/export/?" class="w3-button w3-black">Ingresar
                        a
                        Productos</a>
                    <br><br>
                </div>
            </div>
        </div>

        <!-- Third Photo Grid-->
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">

                <div class="w3-container w3-white">
                    <p><b>Descarga de DETALLE SERVICIO en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Detalles Servicios</p>
                    <a href="http://127.0.0.1:8000/admin/core/detalleservicio/export/?"
                        class="w3-button w3-black">Ingresar
                        a
                        Detalles Servicios</a>
                    <br><br>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Descarga de MARCAS ASOCIADAS en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Marcas Asociadas</p>
                    <a href="http://127.0.0.1:8000/admin/core/tipomarca/export/?" class="w3-button w3-black">Ingresar a
                        Marcas Asociadas</a>
                    <br><br>
                </div>
            </div>

            <div class="w3-third w3-container w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Descarga de EMPLEADO SERVICIO en variados formatos</b></p>
                    <p>Permite descargar datos e informes relacionados a Servicios realizados por Empleados</p>
                    <a href="http://127.0.0.1:8000/admin/core/empleadoservicio/export/?"
                        class="w3-button w3-black">Ingresar
                        a
                        Empleado Servicio</a>
                    <br><br>
                </div>
            </div>
        </div>



    </div>
    


    <!--G R A F I C O S-->
    <html>

    <head>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 4],
                    ['Eat', 2],
                    ['Commute', 2],
                    ['Watch TV', 2],
                    ['Sleep', 7]
                ]);

                var options = {
                    title: 'My Daily Activities',

                };


                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
            }
        </script>

    </head>

    <body>
        <div id="donutchart" style="width: 900px; height: 500px;"></div>
    </body>


    </html>

    <!--Segundo Grafico-->
    <br><br><br>
    <html>

    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Year', 'Sales', 'Expenses', 'Profit'],
                    ['2014', 1000, 400, 200],
                    ['2015', 1170, 460, 250],
                    ['2016', 660, 1120, 300],
                    ['2017', 1030, 540, 350]
                ]);

                var options = {
                    chart: {
                        title: 'Company Performance',
                        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                    }
                };

                var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

                chart.draw(data, google.charts.Bar.convertOptions(options));
            }
        </script>
    </head>

    <body>
        <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
    </body>

    </html>



    <!-- End page content -->


    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
    </div>
</body>

</html>