{% load static %}
<!DOCTYPE html>
<html>
<title>Administración Interna</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif
  }
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="-webkit-column-break-after:300px">

    <!-- Header -->
    <header id="portfolio">
      <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
          class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
          class="fa fa-bars"></i></span>
      <div class="w3-container">
        <h1><b>Administración Serviexpress <img src="{% static 'core/img/iconos/admin.png' %}" width="50" height="50"
              alt=""></b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          <span class="w3-margin-right">Navegación:</span>
          <a href="{% url 'index' %}" class="w3-button w3-grey">Index</a>
          <a href="{% url 'nosotros' %}" class="w3-button w3-grey">Nosotros</a>
          <a href="{% url 'servicio' %}" class="w3-button w3-grey">Servicios</a>
          <a href="{% url 'ubicacion' %}" class="w3-button w3-grey">Ubicación</a>
          <a href="{% url 'admin_reportes' %}" class="w3-button w3-grey">Reportes Y Actividad</a>


        </div>
      </div>
    </header>

    <!-- First Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">


        <div class="w3-container w3-white">
          <p><b>Sector Empleados</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De EMPLEADOS, donde podra navegar entre;
            Región, Ciudad y Comunas respectivamente.</p>
          <a href="{% url 'sector_empleados' %}" class="w3-button w3-black">Ir hacia Ubicaciones</a>
          <br><br>
        </div>
      </div>

      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>Sector Clientes/Usuarios</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De CLIENTES, donde podra Visualizar, Agregar,
            Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_cliente' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
      <div class="w3-third w3-container">


        <div class="w3-container w3-white">
          <p><b>Sector Proveedores Asociados</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De PROVEEDORES, donde podra Visualizar,
            Agregar, Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_proveedor' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">


        <div class="w3-container w3-white">
          <p><b>Sector Pedidos</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado de PEDIDOS, donde podra Visualizar, Agregar,
            Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_ped_orden' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">


        <div class="w3-container w3-white">
          <p><b>Sector Pagos</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado de PAGOS, donde podra navegar entre;
            BOLETAS/FACTURAS y MEDIOS DE PAGO respectivamente.</p>
          <a href="{% url 'sector_pagos' %}" class="w3-button w3-black">Ir hacia Pagos</a>
          <br><br>
        </div>
      </div>
      <div class="w3-third w3-container">


        <div class="w3-container w3-white">
          <p><b>Sector Marcas Asociadas</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De MARCAS, donde podra Visualizar, Agregar,
            Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_tipo_marca' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
    </div>

    <!-- Third Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">


        <div class="w3-container w3-white">
          <p><b>Sector Ubicaciones</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De UBICACIONES, donde podra navegar entre;
            Región, Ciudad y Comunas respectivamente.</p>
          <a href="{% url 'sector_ubicaciones' %}" class="w3-button w3-black">Ir hacia Ubicaciones</a>
          <br><br>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>Sector Servicios</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De SERVICIOS, donde podra Visualizar,
            Agregar,
            Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_servicio' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
      <div class="w3-third w3-container">
        <div class="w3-container w3-white">
          <p><b>Sector Detalles Servicios</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De MARCAS, donde podra Visualizar, Agregar,
            Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_det_serv' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
    </div>
    <!-- Forth Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">


        <div class="w3-container w3-white">
          <p><b>Sector Reservas</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De RESERVAS, donde podra Visualizar, Agregar,
            Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_reserva' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>Sector Productos</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De PRODUCTOS, donde podra Visualizar,
            Agregar,
            Modificar, Actualizar o Eliminar datos segun la </p>
          <a href="{% url 'listado_producto' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>Sector Trabajos Finalizados</b></p>
          <p>Al seleccionar este sector lo llevara directamente al Listado De TRABAJOS FINALIZADOS, donde podra
            Visualizar, Agregar,
            Modificar, Actualizar o Eliminar datos segun la necesidad.</p>
          <a href="{% url 'listado_emp_serv' %}" class="w3-button w3-black">Ir hacia Listado</a>
          <br><br>
        </div>
      </div>


      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>Manual de Usuarios</b></p>
          <p>Pinche "Descargar" para obtener el Manual de Usuario.</p>
          <a href="" class="w3-button w3-black">Descargar</a>
          <br><br>
        </div>
      </div>





      <!-- End page content -->
    </div>

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>

</body>

</html>