{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<title>NOSOTROS</title>
<link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}">
{% endblock %}

<!-- BLOC NAV -->
{% block nav%}
<a class="nav-item nav-link" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="{% url 'nosotros' %}">NOSOTROS</a>
<a class="nav-item nav-link" href="{% url 'servicio' %}">SERVICIOS</a>
<a class="nav-item nav-link" href="{% url 'ubicacion' %}">UBICACIÓN</a>
{% endblock %}

<!-- BLOC CONTENIDO -->
{% block contenido %}
<!-- ARTICULOS -->
<div id="contenido">
    <article>
        <!-- MISIÓN -->
        <h1 class="title"><b>NOSOTROS <img src="{% static 'core/img/iconos/handshake.png' %}" alt="" height="55" width="55"></b></h1>
        <img id="a1" src="{% static 'core/img/Genericas/trato.jpg' %}">
        <h2 class="sub-title" id="subtitles"><b>MISIÓN</b></h2>
        <p style="text-align: justify;" id="parrafo"> Nuestra Proposito es entregar un servicio rapido y moderno a través de Nuestra pagina WEB,
            brindando la mejor atención y servicio en la mantención de su vehículo, y ofreciéndole la seguridad que su inversión siempre estará 
            en buenas manos.
        </p>

        <!-- VISIÓN -->
        <img id="a2" src="{% static 'core/img/Genericas/auto.jpg' %}">
        <h2 class="sub-title"><b>VISIÓN</b></h2>
        <p style="text-align: justify;" id="parrafo">Nuestro primer objetivo es brindar un servicio de calidad
            a todos nuestros clientes transmitiendo seguridad y eficiencia a nivel de mercados globales.
        </p>
    </article>
</div>


<!-- GALERIA -->
<div class="backaside">
    <aside>
        <h1 class="title"><b>GALERIA</b></h1>
        <div class="galeria">
            <a href="#image1">
                <img src="{% static 'core/img/Genericas/gen1.jpg' %}" alt="Galeria">
            </a>
            <a href="#image2">
                <img src="{% static 'core/img/Genericas/gen2.jpg' %}" alt="Galeria">
            </a>
            <a href="#image3">
                <img src="{% static 'core/img/Genericas/gen3.jpg' %}" alt="Galeria">
            </a>
            <a href="#image4">
                <img src="{% static 'core/img/Genericas/gen4.jpg' %}" alt="Galeria">
            </a>
            <a href="#image5">
                <img src="{% static 'core/img/Genericas/gen5.jpg' %}" alt="Galeria">
            </a>
            <a href="#image6">
                <img src="{% static 'core/img/Genericas/gen6.jpg' %}" alt="Galeria">
            </a>
        </div>
    </aside>

    <div>
        <div class="light-box" id="image1">
            <a href="#image6" class="prev" style="text-decoration: none;">6<i class="fas fa-angle-left"></i></a>
            <img src="{% static 'core/img/Genericas/1.jpg' %}" alt="image1">
            <a href="#image2" class="next" style="text-decoration: none;">2<i class="fas fa-angle-right"></i></a>
            <a href="#" class="close" style="color: white;">x</a>
        </div>
        <div class="light-box" id="image2">
            <a href="#image1" class="prev" style="text-decoration: none;">1<i class="fas fa-angle-left"></i></a>
            <img src="{% static 'core/img/Genericas/2.jpg' %}" alt="image1">
            <a href="#image3" class="next" style="text-decoration: none;">3<i class="fas fa-angle-right"></i></a>
            <a href="#" class="close" style="color: white;">x</a>
        </div>
        <div class="light-box" id="image3">
            <a href="#image2" class="prev" style="text-decoration: none;">2<i class="fas fa-angle-left"></i></a>
            <img src="{% static 'core/img/Genericas/3.jpg' %}" alt="image1">
            <a href="#image4" class="next" style="text-decoration: none;">4<i class="fas fa-angle-right"></i></a>
            <a href="#" class="close" style="color: white;">x</a>
        </div>
        <div class="light-box" id="image4">
            <a href="#image3" class="prev" style="text-decoration: none;">3<i class="fas fa-angle-left"></i></a>
            <img src="{% static 'core/img/Genericas/4.jpg' %}" alt="image1">
            <a href="#image5" class="next" style="text-decoration: none;">5<i class="fas fa-angle-right"></i></a>
            <a href="#" class="close" style="color: white;">x</a>
        </div>
        <div class="light-box" id="image5">
            <a href="#image4" class="prev" style="text-decoration: none;">4<i class="fas fa-angle-left"></i></a>
            <img src="{% static 'core/img/Genericas/5.jpg' %}" alt="image1">
            <a href="#image6" class="next" style="text-decoration: none;">6<i class="fas fa-angle-right"></i></a>
            <a href="#" class="close" style="color: white;">x</a>
        </div>
        <div class="light-box" id="image6">
            <a href="#image5" class="prev" style="text-decoration: none;">5<i class="fas fa-angle-left"></i></a>
            <img src="{% static 'core/img/Genericas/6.jpg' %}" alt="image1">
            <a href="#image1" class="next" style="text-decoration: none;">1<i class="fas fa-angle-right"></i></a>
            <a href="#" class="close" style="color: white;">x</a>
        </div>
    </div>
</div>


{% endblock %}